{% extends 'main/base.html' %}

{% block title %}Форма по добавлению статьи{% endblock %}

{% block content %}
    <div class="features">
        <h1>Форма по добавлению статьи</h1>
        <form method="post">
            <input type="text" class="form-control" placeholder="Название статьи"> <br>
            <input type="text" placeholder="Анонс статьи" class="form-control">
            <textarea class="form-control" placeholder="Текст статьи"></textarea>
            <input type="date" class="form-control">
            <input type="time" class="form-control">
            <button class="btn btn-success" type="submit">Добавить статью</button>
        </form>
    </div>
{% endblock %}